* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  height: 100%;
  font-family: "Do Hyeon", sans-serif;
}

body {
  background: radial-gradient(circle, rgb(228, 150, 105) 0%, rgb(233, 112, 42) 89%, rgb(214, 85, 10) 100%);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
}

.header-class {
  background-image: url(../images/night.png);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  border-radius: 10px;
  margin: 10px;
  height: 75px;
  width: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  align-content: center;
  justify-items: center;
}

#game-header {
  display: grid;
  grid-template-columns: 200px 700px 200px;
  justify-content: center;
  align-content: center;
}

.fireworks img {
  max-width: 100%;
  max-height: 100%;
}

.fireworks {
  justify-self: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}

#player-name {
  justify-self: center;
  align-self: center;
  padding: 55px;
}

.game-expectation {
  background-image: url(../images/night.png);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 200px;
  position: relative;
  overflow: hidden;
}

#balloons {
  width: 180px;
  height: auto;
  position: absolute;
}

#balloon-expectations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 40px;
}

#balloon-expectations span {
  height: auto;
}

#balloon-expectations img, #balloon-expectation span, #arrow-img {
  padding: 5px;
}

#game-container {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-image: url(../images/final-night.png);
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  margin: 10px;
  position: relative;
}

.balloons-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  overflow: hidden;
}

.balloons-container div {
  position: absolute;
}

.balloons-container img {
  place-self: center;
  max-width: 100%;
  max-height: 100%;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.balloons-container img:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.current-game-info {
  display: grid;
  flex-wrap: wrap;
  background-image: url(../images/night.png);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  text-align: center;
  padding: 30px;
  margin: 10px;
  height: auto;
  width: 200px;
}

#timer {
  font-size: 35px;
}

#score-count {
  font-size: 45px;
  margin-top: 50px;
}

#start-over-btn, #see-scoreboard-btn {
  height: auto;
  margin-top: 75px;
  padding: 15px;
  background-color: rgb(181, 97, 8);
  border-color: rgba(182, 155, 120, 0.843);
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  outline: 0;
  border-color: -internal-light-dark(rgb(66, 64, 64), rgb(79, 77, 77));
}

.user-form-modal {
  display: none;
  position: absolute;
  z-index: 100;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 100px;
}

.new-user-form {
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.639), inset 0 1px 0 rgba(255, 255, 255, 0.531);
  background-image: url(../images/night.png);
  display: grid;
  color: black;
  width: auto;
  height: 300px;
  border-radius: 10px;
  padding: 40px;
}

.new-user-form label {
  text-align: center;
  font-size: 20px;
  justify-self: center;
  align-self: center;
}

input#username {
  height: auto;
  outline: none;
  border-radius: 15px;
  padding: 15px;
  font-size: large;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

input#start-game-btn {
  margin-top: 35px;
  height: auto;
  outline: none;
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  background-color: rgb(181, 97, 8);
  border-color: rgba(182, 155, 120, 0.843);
}

input[type=text]:focus {
  color: black;
  background-color: #ddd;
  outline: none;
}

.winner-modal {
  display: none;
  z-index: 100;
  display: none;
  border-radius: 10px;
  z-index: 100;
  width: 700px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  grid-template-columns: 180px auto 180px;
  position: relative;
  overflow: hidden;
}

.winner-modal img#balloons {
  padding: 20px;
}

.won-game {
  z-index: 100;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, auto);
  align-content: center;
  justify-content: center;
}

.won-game h1, .won-game p {
  align-self: center;
  justify-self: center;
}

.won-game h1 {
  margin: 15px;
  font-size: 50px;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.scoreboard-modal {
  display: none;
  position: absolute;
  border-radius: 10px;
  z-index: 100;
  width: 700px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 100px;
}

#scoreboard-tableContainer {
  display: grid;
  align-content: center;
  justify-content: center;
}

table {
  background-color: rgba(104, 130, 164, 0.51);
  box-shadow: 0 2px 4px rgba(10, 10, 10, 0.639), inset 0 1px 0 rgba(255, 255, 255, 0.531);
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

.tableClass thead {
  padding: 10px;
  display: grid;
  height: auto;
}

.tableClass thead td, .tableClass thead h1 {
  background-image: url(../images/final-night.png);
  box-shadow: 0 2px 4px rgba(46, 43, 43, 0.442), inset 0 1px 0 rgba(99, 109, 132, 0.531);
  border-radius: 10px;
  padding: 7px;
  width: 500px;
}

.tableClass thead td {
  font-size: large;
}

.tableClass tbody {
  display: block;
  height: 150px;
  overflow-y: auto;
  margin: 10px;
}

.tableClass tbody td {
  padding-left: 20px;
  padding-block: 10px;
  width: 500px;
}

.tableClass tbody tr {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(46, 43, 43, 0.442), inset 0 1px 0 rgba(99, 109, 132, 0.531);
}

.tableClass tr {
  border-radius: 5px;
  border-spacing: 3px;
}

.tableClass tbody::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.9);
  background-color: #F5F5F5;
}

.tableClass tbody::-webkit-scrollbar {
  border-radius: 15px;
  width: 7px;
  background-color: #F5F5F5;
}

.tableClass tbody::-webkit-scrollbar-thumb {
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgb(181, 97, 8);
}
